@model IEnumerable<PackingChange1.Models.td_item_list>

<style>
    th {
        border-right-style: solid;
        border-style: solid;
        border-width: 0 1px 0 0;
        border-right: 1px solid #ddd;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tableitemlist').DataTable({
            "ordering": false,
            "info": false,
            "scrollY": 400,
            "scrollX": true,
            "paging": false,
            "scrollCollapse": true,
            "fixedColumns": {
                "leftColumns": 5
            }
        });
    });
</script>

<h3>Item Lists of Application for Packing Change</h3>

@*<div style="overflow-x:scroll;">
<div class="span9">*@
<table id="tableitemlist" class="cell-border stripe nowrap" style="font-size:0.9em;">
    <thead>
        <tr>
            <th colspan="5" style="text-align:center;">ISSUER</th>
            <th colspan="6" style="text-align:center;">PRODUCTION PLANNING</th>
            <th colspan="5" style="text-align:center;">CUSTOMER SERVICE</th>
            <th style="text-align:center;">PLANNING</th>
        </tr>
        <tr>
            <th rowspan="2" style="width:100px;">Item code</th>
            <th rowspan="2">Customer no.</th>
            <th rowspan="2">Customer Name</th>
            <th rowspan="2">Part no.</th>
            <th rowspan="2">WC</th>
            <th colspan="3" style="text-align:center;">Outstanding Job</th>
            <th>Confirm Start</th>
            <th>Eff. Date</th>
            <th>Eff. Date</th>
            <th rowspan="2">TNC'S Stock (pcs.)</th>
            <th rowspan="2">Re-Pack</th>
            <th>Eff. Date</th>
            <th rowspan="2">Job/Lot no.</th>
            <th>Item code</th>
            <th rowspan="2">New Item code</th>
        </tr>
        <tr>
            <th>Have</th>
            <th>Job/Lot no.</th>
            <th>Q'ty (pcs.)</th>
            <th>Job/Lot no.</th>
            <th>for Prod.</th>
            <th>for Planning</th>
            <th>for Delivery</th>
            <th>Change</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.item_code</td>
            <td>@item.cust_no</td>
            <td>@item.customer_name</td>
            <td>@item.part_no</td>
            <td>@item.wc</td>
            <td>@item.pp_have</td>
            <td>@item.pp_lot</td>
            <td>@item.pp_qty</td>
            <td>@item.pp_confirm_lot</td>
            <td>@if (item.pp_eff_prod != null) { <text>@item.pp_eff_prod.Value.ToString("dd/MM/yyyy")</text> }</td>
            <td>@if (item.pp_eff_pln != null) { <text>@item.pp_eff_pln.Value.ToString("dd/MM/yyyy")</text> }</td>
            <td>@item.cs_stock</td>
            <td>@item.cs_repack</td>
            <td>@if (item.cs_eff_dt != null) { <text>@item.cs_eff_dt.Value.ToString("dd/MM/yyyy")</text> }</td>
            <td>@item.cs_lot</td>
            <td>@if (item.cs_change != null) { if(item.cs_change.Value){ <text>Yes</text> }else{ <text>No</text> } }</td>
            <td>@item.pln_item</td>
        </tr>
        }
    </tbody>
</table>
@*</div>*@