@{
    ViewBag.Title = "Main";
}
<style type="text/css">
    /*fix jTable*/
    span.jtable-goto-page select, span.jtable-page-size-change select {
        height: 25px;
        width: 60px;
        padding: 2px 2px;
        margin-bottom:auto;
    }
    div.jtable-main-container table.jtable thead th {
        text-align: center;
    }
    div.jtable-main-container > table.jtable > tbody > tr.jtable-data-row > td {
        text-align: center;
    }
    .ui-dialog .ui-dialog-titlebar {
        padding: .2em .4em;
    }
</style>
@section scripts {
<script type="text/javascript">
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    function DisableTab(status) {
        //0 and 11 always show
        for (var i = 0; i < 11; i++) {
            $("#tabstrip li:eq(" + i + ")").show();
        }
        switch (status) {
            case 1: $("#tabstrip li:eq(2)").hide();
            case 2: $("#tabstrip li:eq(3)").hide();
            case 3: 
            case 4: 
            case 5: $("#tabstrip li:eq(4)").hide();
            case 6: $("#tabstrip li:eq(5)").hide();
            case 7: 
            case 8: 
            case 9: 
            case 10: 
            case 11: 
            case 12:
            case 13: $("#tabstrip li:eq(6)").hide();
        }
    }

    $(document).ready(function () {
        var obj = new Object();
        $('#jTableMain').jtable({
            //title: 'Packing Change Online',
            paging: true, //Enable paging
            pageSize: 10, //Set page size (default: 10)
            sorting: true, //Enable sorting
            selecting: true, //Enable selecting
            multiselect: false, //Allow multiple selecting
            defaultSorting: 'id', //Set default sorting
            actions: {
                listAction: '@Url.Action("MainList","Home")'
            },
            fields: {
                gpcode: { title: 'GroupCode', list: false },
                year: { title: 'Year', list: false },
                runno: { title: 'RunNo.', list: false },
                id: { title: 'Control No.', width: '20%' },
                change_detail: { title: 'Change detail', width: '40%' },
                issue_group: { title: 'Issue group', width: '20%', options: '@Url.Action("GetTNCGroupList","Home")' },
                lv_id: { title: 'User Lv.', width: '10%', options: '@Url.Action("GetULvList","Home")' },
                status_id: { title: 'Status', width: '10%', options: '@Url.Action("GetStatusList","Home")' }
            },
            //Register to selectionChanged event to hanlde events
            selectionChanged: function () {
                //Get all selected rows
                var $selectedRows = $('#jTableMain').jtable('selectedRows');
                if ($selectedRows.length > 0) {
                    $selectedRows.each(function () {
                        var record = $(this).data('record');
                        
                        obj.gpcode = record.gpcode;
                        obj.year = record.year;
                        obj.runno = record.runno;
                        
                        DisableTab(record.status_id);
                        $("#mainDetail").show();
                        $('#tabstrip a:first').tab('show');

                        var remote = "@Url.Action("_TabMain")";
                        $.get(remote, obj, function (data) {
                            $("#_TabMain").html(data);
                            return false;
                        });

                        var appremote = "@Url.Action("_TabApprove")";
                        $.get(appremote, obj, function (data) {
                            $("#divOperation").html(data);
                            return false;
                        });

                        var attremote = "@Url.Action("_TabAtt")";
                        $.get(attremote, obj, function (data) {
                            $("#_TabAtt").html(data);
                            return false;
                        });
                    });
                }
            }
        });

        $("#mainDetail").hide();

        $("#txt_controlno").val(getParameterByName('id'));

        //Re-load records when user click 'load records' button.
        $('#btSearch').click(function (e) {
            e.preventDefault();
            $('#jTableMain').jtable('load', {
                id: $('#txt_controlno').val(),
                detail: $('#txt_detail').val(),
                group: $('#txt_group').val(),
                status: $('#txt_status').val(),
                lv: $('#txt_lv').val()
            });
        });
        
        $('#tabstrip a').click(function (e) {
            e.preventDefault();
            var tabID = $(this).attr("href").substr(1);
            var path = "@Url.Action("tabID", "Home")";
            path = path.replace("tabID", tabID);
            $.ajax({
                url: path,
                data: obj,
                cache: false,
                type: "get",
                dataType: "html",
                success: function (result) {
                    $("#" + tabID).html(result);
                }
            });
            $(this).tab('show');
        });
        
        $('#jTableMain').jtable('load', { id: $('#txt_controlno').val() });
    });
</script>
}

@if (TempData["ErrorMessage"] != null)
{
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    @TempData["ErrorMessage"]</div>
}

<table class="table table-condensed" style="width:auto;">
    <thead>
        <tr>
            <th>Control no.</th>
            @*<th>Item code</th>*@
            <th>Change detail</th>
            <th>Issued group</th>
            <th>User Lv.</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" name="txt_controlno" id="txt_controlno" class="span2" placeholder="Control no." /></td>
            @*<td><input type="text" name="txt_item" id="txt_item" class="span2" placeholder="Item code" /></td>*@
            <td><input type="text" name="txt_detail" id="txt_detail" class="span3" placeholder="Change detail" /></td>
            <td>
                <select id="txt_group" name="txt_group" class="span2">
                    <option selected="selected" value="">All Group</option>
                    @foreach (var item in ViewBag.SelectGroup)
                    {
                    <option value="@item.id">@item.group_name</option>
                    }
                </select>
            </td>
            <td>
                <select id="txt_lv" name="txt_lv" class="span2">
                    <option selected="selected" value="">All Level</option>
                    @foreach (var item in ViewBag.SelectULv)
                    {
                    <option value="@item.lv_id">@item.lv_name</option>
                    }
                </select>
            </td>
            <td><select id="txt_status" name="txt_status" class="span2">
                    <option selected="selected" value="">All Status</option>
                    @foreach (var item in ViewBag.SelectStatus)
                    {
                    <option value="@item.status_id">@item.status_name</option>
                    }
                </select>
            </td>
            <td><button type="submit" id="btSearch" class="btn btn-primary"><i class="icon-search icon-white"></i> Search</button></td>
        </tr>
    </tbody>
</table>

<div id="jTableMain"></div>

<br />
<div id="mainDetail" class="row-fluid">
    <div class="span9">
        <!-- Tab Buttons -->
        <ul id="tabstrip" class="nav nav-tabs" role="tablist">
            <li><a href="#_TabMain">Requester</a></li>
            <li><a href="#_TabItemList">Item List</a></li>
            <li><a href="#_TabQA">QA Review</a></li>
            <li><a href="#_TabConcern">Concern</a></li>
            <li><a href="#_TabSLCS">Sales/CS</a></li>
            <li><a href="#_TabPack">QA Packing STD.</a></li>
            <li><a href="#_TabCls">QA Close</a></li>
            <li><a href="#_TabFB">Feedback</a></li>
        </ul>

        <!-- Tab Content Containers -->
        <div class="tab-content" id="tabContent">
            <div class="tab-pane" id="_TabMain"></div>
            <div class="tab-pane" id="_TabItemList" style="width:1600px; overflow-x:auto;"></div>
            <div class="tab-pane" id="_TabQA"></div>
            <div class="tab-pane" id="_TabConcern"></div>
            <div class="tab-pane" id="_TabSLCS"></div>
            <div class="tab-pane" id="_TabPack"></div>
            <div class="tab-pane" id="_TabCls"></div>
            <div class="tab-pane" id="_TabFB"></div>
        </div>
    </div>
    <div class="span3" id="_TabAtt"></div>
</div>
<div id="divOperation"></div>
